:root {
    --primary-color: #D9CDBC;
    --tertiary-color: #A1866C;
    --secondary-color: black;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    position: relative;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

.profile-icon {
    width: 40px;
}

.navbar {
    background-color: #212529;
}

.navbar.theme {
    background-color: #fff;
}

.nav-item {
    border: none;
    position: relative;
}

.nav-link {
    color: var(--primary-color);
}

.nav-link.theme {
    color: var(--tertiary-color);
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--primary-color);
    left: 7px;
    bottom: 20%;
    transition: all ease-in-out .3s;
}

.nav-item.theme::after {
    background-color: var(--tertiary-color);
} 

.navbar-text {
    color: var(--primary-color);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Satisfy', sans-serif;
}

.navbar-text.theme {
    color: var(--tertiary-color);
}

.nav-item:hover::after{
    width: 30px;
}

/* HOME */

.intro-container {
    margin: 250px auto 250px auto;
}

.intro-text {
    width: 80%;
    max-width: 890px;
    height: auto;
    margin: auto auto 30px auto;
    text-align: center;
}

.intro-text h1 {
    font-family: 'Satisfy', sans-serif;
}

/* Buttons */

.btn {
    background-image: linear-gradient(to right, #b7a492, #A1866C);
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #212529;
    border-radius: 4px;
    z-index: -1;
} 

.btn.theme::before {
    background-color: white;
}

.btn::after {
    content: attr(data);
    font-size: 20px;
    background: linear-gradient(to left, #b7a492, #A1866C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn.theme::after {
    background-color: unset;
    color: black;
}

.btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

/* ABOUT */


h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 100px 0 50px 0;
    font-family: "Satisfy", Sans-seriff;
}

.about-container {
    margin: auto auto 200px auto;
}

.about {
    text-align: left;
    position: relative;
}

@media screen and (max-width: 768px) {
    .about {
        text-align: justify;
    }
}

/* SKILLS */

.skills-container {
    margin: auto auto 200px auto;
    max-width: 760px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}

.skill-bubble {
    opacity: 0;
    padding: 10px 20px;
    color: var(--primary-color);
}

.skill-bubble.theme {
    color: var(--secondary-color);
}

.skill-bubble.left {
    transform: translateX(-100%);
    transition: all 3s ease;
}

.skill-bubble.right {
    transform: translateX(100%);
    transition: all 3s ease;
}

.skill-bubble.visible {
    opacity: 1;
    transform: translateX(0);
}

/* PROJECTS */

.project-container {
    border-radius: 5px;
    margin: auto auto 200px auto;
}

.project {
    position: relative;
    overflow: hidden;
    padding: 0;
}


.project-img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.description {
    max-width: 80%;
    text-align: center;
    margin-bottom: 5px; 
}

.live-link {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 5px;
}

/* CONTACT */

.contact-container {
    border-radius: 5px;
    margin-bottom: 7%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: auto;
    padding: 20px;
    margin: auto;
}

.social-icons {
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0;
    transition: margin-top 0.2s ease-in-out;
    color: var(--primary-color);
}

.social-icons.theme {
    color: var(--tertiary-color);
}

.social-icons:hover {
    margin-top: -10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.contact-form.theme {
    background-color: white;
}

.send-btn {
    width: 100%; 
    margin: 8px 0;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    resize: none;
}

textarea {
    height: 100px;
}

/* FOOTER */

footer {
    text-align: center; 
    font-size: 1rem;
    padding: 10px;
}